h1 { color:red;}

#county_data_barchart .x.axis text {
    transform: rotate(-90deg);
    

}


.number-box {
    font-size: 30px;
    font-weight: 500;
}

#discipline-selector {
	margin-left: 15px;
}



#gender_data_pie {padding-top:  15px;}




#gender_data_pie .legend {padding-top:  15px;}