h1 { color:red;
    text-align: center;
}

h3{ color: blue;
    text-align:center;
    text-decoration: underline;
    padding-bottom: 10px;
}



.selector-headers {color: red;}




.pie-section {padding-top: 10px;
    margin-top: 20px;
    background-color: lightgrey
    
}



#month_data_barchart .x.axis text {
    transform: rotate(-90deg);
    
}