/* ....................Nav Bar ........................... */

h2{color: red;
    font-size: 40px
}

.navbar-header{width: 100%;
    float: left;
    padding: 0;
    list-style: none;
}
/* ....................Select Menu ........................... */

h3{ color: white;
    text-align:center;
    text-decoration: underline;
    padding-bottom: 10px;
}

.section-paragraph {color: white;
}

/* ....................Body ........................... */

body{background-color: grey;
text-align: center
}

/* ....................Charts ........................... */

.chart_type_1{padding: 20px;
            margin: 20px;
    
}

.chart_type_3.x.axis {padding: 20px;
            margin: 20px;
}

h4 { color:blue;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.pie-section {padding-top: 10px;
    margin-top: 10px;
    background-color: lightgrey;
    
}

.bar-section {padding-top: 10px;
    padding-bottom: 100px;
    background-color: lightgrey;
    
}

#region_data_barchart .x.axis text {
    transform: rotate(-65deg);
    text-anchor: end !important;
}

